/* LEFT PANEL HEADING */

.left-panel-heading h1 {
	font-family: "Orbitron";
	font-size: 40px;
	margin: 2px;
}

.left-panel-heading h3 {
	font-family: "Pixelify Sans";
	font-size: 17px;
	margin-top: auto;
	padding-left: 8px;
}

.left-panel-navigation-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.left-panel-navigation-container h4 {
	font-family: "W95 Sans Serif";
	color: var(--highlight-blue);
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 1px;
	font-size: 13px;
}
