* {
	border-radius: 0 !important;
}

* {
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
}

body {
	cursor: url("/src/assets/cursor/cursor.cur"), auto;
}

button {
	cursor: url("/src/assets/cursor/pointer.cur"), pointer;
}
